@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Noto Sans', sans-serif;
}
h1{
	font-size: 26px;
	text-transform: uppercase;
	font-weight:500;
	
	text-shadow: 1px 1px 3px #999999;
    filter: dropshadow(color=#999999, offx=1, offy=1);
}
h2{ font-size:22px; font-weight:100; margin: 10px 0 16px 0;}
p, li.blocoY h2{
	font-size:12px;
	font-weight:500;}
p span{color:#2a9f90;}
.header, ul.menu li a, .submit {
	color:#FFF;
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:12px;
	 font-weight: 400;
}
::-webkit-input-placeholder {
    color:#1f1f1f;
}
.search{
	color:#1f1f1f;
 }
 li.blocoY h2{ text-align:center; color:#FFF;}
 ul.slide3 h2 { font-size:12px; color:#FFF; text-align:left;}
.dataArticle p{ color:#fff !important;}
 
 li.blocoW p{ text-align:justify;}
 a.btnMore{
	color:#fff;
	font-size: 12px;
	
}
.noticias h1, label, label.label{
	color:#FFF;
	text-shadow:none;
	font-size:17px;
	text-transform:uppercase;
	margin-bottom:28px;
	}
.noticias ul li a{
	color:#2a9f90;
	font-size:12px;
}
.noticias ul li p{
	margin-top:0;
	color:#FFF;
}
.noticias ul li p a{
	color:#FFF;
}
textarea.formFooter{ font-family: 'Noto Sans', sans-serif;}
input.submitFooter{ color:#fff;}
.copy p{
	color:#666;
}
.copy p a{
	color:#af8d51;
	font-size:10px;
	text-decoration:none;
}